<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<link rel="stylesheet" type="text/css" href="./css/common.css">
	<title><%= title%></title>
</head>
<body>
	<div id="main">
		<% if(userInfo){ %>
			<div id="playBtn">
				<a href="/play"></a>
			</div>
			<div id="infoBtn">
				<a href="/info"></a>
			</div>
		<% }else{ %>
			<div id="loginBtn">
				<a href="/login"></a>
			</div>
			<div id="regBtn">
				<a href="/reg"></a>
			</div>

		<% } %>
			
		
	
	</div>

</body>
</html>